@charset "utf-8";

#content {
	background-color: orange;
	margin: 20px;
}


.select{
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width :100%;
}

select{
  display:inline-block;
  height: 40px;
  width:100%;
  padding:10px 15px;
  appearance:none;
  border: solid gray 1px;
  border-radius: 5px;
  -webkit-appearance:none;
  -moz-appearance:none;
}

select::-ms-expand{
  display:none;
}


.select__arrow{
  position: absolute;
  top :16px;
  right: 15px;
  width :0;
  height :0;
  pointer-events: none;
  border-style :solid;
  border-width: 8px 5px 0 5px;
  border-color: #999 transparent transparent transparent;
}
