@charset "utf-8";

#place {
	
  margin: auto 20px;
  background-color: green;
}
ul li {
	float: left;
	outline: 1px solid red;	
	background-color: yellow;
	border-radius: 10px;
}

.active {
	color: red;
}